.custom-select{
    border: 2px solid #686969!important;
    border-radius: 8px!important;
    transition: all 0.3s ease!important;
}

.custom-select:focus{
    border-color: #198754!important;
    box-shadow: 0 0 5px rgba(25, 135, 84, 0.5)!important;
}       

.form-label{
    font-weight: bold;  
}

.col-auto{
  transition: all 0.2s ease;
 }
 
.col-auto:hover {
  border-bottom: 3px solid #198754;
  transform: translateY(-1px);
}

.reports-container{
    min-height: 460px;
}
